# ==========================================
# STM32CubeIDE / Eclipse Ignore List
# ==========================================

# 1. โฟลเดอร์ที่ได้จากการ Build โค้ด (หนักและสร้างใหม่ได้)
Debug/
Release/

# 2. การตั้งค่าหน้าตา IDE เฉพาะเครื่อง (ห้ามแชร์ เดี๋ยวตีกัน)
.settings/
*.launch

# 3. ไฟล์ขยะ/ไฟล์ชั่วคราวจาก CubeMX
.mxproject

# 4. ไฟล์ที่ระบบปฏิบัติการแอบสร้างไว้
.DS_Store
Thumbs.db

# 5. โฟลเดอร์ที่ใช้เก็บการตั้งค่าและข้อมูลของ Visual Studio Code (ถ้าใช้ร่วมกันหลายคน อาจจะมีปัญหา)
.vscode